#news .Activity:after{
    content:'活动参会';
    color:#50A5E7;
}
#news .Release:after{
    content:'产品发布';
    color:#E78950;
}

#news .Prize:after{
    content:'参评获奖';
    color:#E7505B;
}

#news .Message:after{
    content:'活动信息';
    color:#E7505B;
}

#news .Product:after{
    content:'产品干货';
    color:#E7505B;
}

#news .Case:after{
    content:'案例分析';
    color:#E7505B;
}
