.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #D3323E !important;
    border-bottom: 2px solid !important;
}

.ant-menu-item-active:hover {
    color: #D3323E !important;
}

.ant-menu-horizontal {
    line-height: 68px !important;
    box-shadow: 2px 2px 2px #e8e8e8;
}

a:hover {
    color: #D3323E !important;
}

.ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub {
    min-width: 0;
}

.all_title {
    font-size: 36px !important;
    font-weight: bold ;
    color: rgba(51, 51, 51, 1) !important;
    text-align: center;
}

.ant-page-header-heading-title {
    font-size: 14px;
    color:#D3323E
}
.ant-page-header-back-button{
    color:#D3323E
}